.DS_Store
.vscode
*.sfc
*.lz
*.bin
*.o
*.lst
*.map
*.sh
pretty/*
ff6-*-data.json
*.log
*.pot
*.pyc
*/*/*/__pycache__/
*/*/__pycache__/
*/__pycache__/
*.smc
*.sfc
include/assets/
src/assets/
!src/assets/main.asm